
/.vs
/Assets
/bin-int
/bin
/Dep
*.vcxproj
*.user
*.cache
/GEngine/vendor/GLFW/bin-int
*.filters
/GEngine/vendor/JoltPhysics
/GEngine/vendor/stb/tests
/GEngine/vendor/yaml/test
GEngine-Editor/GEngineProfile-RunTime.json
GEngine-Editor/GEngineProfile-ShutDown.json
GEngine-Editor/GEngineProfile-StartUp.json
/GEngine/vendor/box2d/bin-int
/GEngine/vendor/box2d/bin
*.csproj
/GEngine/vendor/GLFW/bin

/GEngine/vendor/GLAD/bin-int
/GEngine/vendor/GLAD/bin-int
/GEngine/vendor/GLAD/bin
*.sln
/Sandbox/GEngineProfile-RunTime.json
/Sandbox/GEngineProfile-StartUp.json
/Sandbox/GEngineProfile-ShutDown.json


*.fragment.vulkan
*.vertex.vulkan
*.geometry.vulkan
*.hull.vulkan
*.domain.vulkan
*.mesh.vulkan
*.amplification.vulkan
*.compute.vulkan

*.fragment.opengl
*.vertex.opengl
*.geometry.opengl
*.hull.opengl
*.domain.opengl
*.mesh.opengl
*.amplification.opengl
*.compute.opengl

*.fragment.d3dx12
*.vertex.d3dx12
*.geometry.d3dx12
*.hull.d3dx12
*.domain.d3dx12
*.mesh.d3dx12
*.amplification.d3dx12
*.compute.d3dx12